In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
jumia_data = pd.read_csv('jumia_data.csv')

In [4]:
jumia_data.head()

   Unnamed: 0                                               Name      Price
0           0  Samsung Galaxy A03 Core, 2GB/32GB Memory - Ony...   ₦ 64,360
1           1  Samsung Galaxy A13, 6.6", 4GB/64GB, 5000MAh, A...  ₦ 129,900
2           2  Oppo Refurbished A3S 6.2 "HD+   4GB+64GB , 423...   ₦ 58,990
3           3        Samsung Galaxy A03, 4GB/64GB Memory - Black   ₦ 97,000
4           4  itel P38 6.6" HD+ Screen, 2GB RAM + 32GB ROM, ...   ₦ 48,900